<AbsoluteLayout vx-ns-pager>
  <StackLayout vx-ns-page>
    <Label text="I rocked it!"></Label>
    <Button vx-ns-button vxNsPagerNext text="Next"></Button>
  </StackLayout>
  <StackLayout vx-ns-page>
    <Label text="I rocked it Page Dos!"></Label>
    <StackLayout height="150" background="red"></StackLayout>
    <Button vx-ns-button vxNsPagerNext text="Next"></Button>
    <Button vx-ns-button vxNsPagerPrevious text="Previous"></Button>
  </StackLayout>
  <StackLayout vx-ns-page>
    <Label text="I rocked it Page Tres!"></Label>
    <Button vx-ns-button vxNsPagerPrevious text="Previous"></Button>
  </StackLayout>
</AbsoluteLayout>
