@import "./themes/defaults";
@import "./themes/form-field";
@import "./themes/radio";
@import "./themes/menu";
@import "./themes/button";
@import "./themes/autocomplete";
@import "./themes/stepper";
@import "./themes/dialog";

@mixin vx-ns-all-components($colors: ()) {
  $colors: vx-ns-prepare-colors($colors);
  @include vx-ns-form-field-theme($colors);
  @include vx-ns-radio-theme($colors);
  @include vx-ns-menu-theme($colors);
  @include vx-ns-button-theme($colors);
  @include vx-ns-autocomplete-theme($colors);
  @include vx-ns-stepper-theme($colors);
  @include vx-ns-dialog-theme($colors);
}

.vx-ns-hidden {
  width: 0;
  height: 0;
  border-radius: 1;
}
