<h1>Input</h1>
<div class="links">
  <a href="input#inputExample1">Basic Usage</a>
</div>


<h2 id="inputExample1">
  Basic Inputs
</h2>
<vx-tabs>
  <vx-tab label="Example">
    <vx-input-wrapper>
      <input vxInput placeholder="Username">
    </vx-input-wrapper>
    <vx-input-wrapper>
      <input type="password" vxInput placeholder="Password">
    </vx-input-wrapper>
  </vx-tab>
  <vx-tab label="HTML">
    <pre>
      <code>{{ example1 }}</code>
    </pre>
  </vx-tab>
  <vx-tab label="CSS">
    <pre>
      <code>{{ example1Css }}</code>
    </pre>
  </vx-tab>
</vx-tabs>

<h2 id="inputExample2">
  Inputs with validation
</h2>
<vx-tabs>
  <vx-tab label="Example">
    <vx-input-wrapper>
      <input vxInput placeholder="Username" ngModel required>
    </vx-input-wrapper>
    <vx-input-wrapper>
      <input type="password" vxInput placeholder="Password" ngModel required>
    </vx-input-wrapper>
  </vx-tab>
  <vx-tab label="HTML">
    <pre>
      <code>{{ example2 }}</code>
    </pre>
  </vx-tab>
  <vx-tab label="CSS">
    <pre>
      <code>{{ example1Css }}</code>
    </pre>
  </vx-tab>
</vx-tabs>
