<vx-tabs>
  <vx-tab label="Overview">
    <p>The vx-input-wrapper is a component used to wrap an input, giving it a stylized label and giving it
      validation.</p>
    <vx-tabs>
      <vx-tab label="Example">
        <vx-checkbox (checkedChange)="disabled = $event">Disabled</vx-checkbox>

        <vx-input-wrapper>
          <input vxInput placeholder="Username" label="Floated Label" ngModel required [disabled]="disabled">
        </vx-input-wrapper>
        <vx-input-wrapper>
          <input vxInput type="password" placeholder="Password">
        </vx-input-wrapper>
      </vx-tab>
      <vx-tab label="HTML">
        <pre><code vxHighlight>{{ example1 }}</code></pre>
      </vx-tab>
    </vx-tabs>
  </vx-tab>
  <vx-tab label="Api">
    <pre><code vxHighlight>{{importLbl}}</code></pre>

    <h3>VxInputWrapperComponent</h3>
    <p>Used to wrap a <code vxHighlight>vxInput</code> directive.</p>
    <pre><code vxHighlight>{{ basicExample }}</code></pre>

    <h3>VxInputDirective</h3>
    <pre><code vxHighlight>&lt;input vxInput&gt;</code></pre>
    <h4>Properties</h4>
    <pre><code vxHighlight>// Whether or not the input is disabled.
@Input() disabled: boolean;

// The input's placeholder.  Will also be shown in the surrounding VxInputWrapperComponent.
@Input() placeholder: string;

// The input's type.  text, number, email, etc..
@Input() type: string;

// Whether or not the input is required
@Input() required: string;

// Bound to whether or not the input has focus
focused: boolean;

// Used to set /get the value of the input.
// If the input has the type of number the value will be a number
value: string | number;</code></pre>
  </vx-tab>
  <vx-tab label="Examples">
    <vx-tabs>
      <vx-tab label="Example">
        <vx-input-wrapper>
          <input #input vxInput placeholder="Placeholder" [required]="isRequired" [disabled]="inputDisabled" ngModel>
        </vx-input-wrapper>

        <div class="padTop">Value: {{input.value}}</div>

        <vx-checkbox [(checked)]="inputDisabled" class="padTop">Disabled</vx-checkbox>
        <vx-checkbox [(checked)]="isRequired" class="padTop">Required</vx-checkbox>

      </vx-tab>
      <vx-tab label="HTML">
        <pre><code vxHighlight>{{ example2 }}</code></pre>
      </vx-tab>
      <vx-tab label="CSS">
        <pre><code vxHighlight>{{ example1Css }}</code></pre>
      </vx-tab>
    </vx-tabs>
  </vx-tab>
</vx-tabs>
