$mainColor: #3fa0bd;
$background: #fcfcfc;
$foreground: black;
$accent: #FFCA4F;

$colors: (
  primary: $mainColor,
  background: $background,
  error: #bf0000,
  foreground: $foreground,
  accent: $accent
);
