$mainColor: #3fa0bd;
$background: #fcfcfc;
$foreground: black;
$accent: #FFCA4F;

$colors: (
  primary: $mainColor,
  background: $background,
  error: #bf0000,
  success: #51a351,
  warn: #f89406,
  accent: $accent
);
