<div class="sidebar" [class.opened]="opened">
  <div class="header inner">
    Vx Components
  </div>
  <div class="links">
    <a routerLink="/tabs" routerLinkActive="active">Tabs</a>
    <a routerLink="/input" routerLinkActive="active">Input</a>
    <a routerLink="/checkbox" routerLinkActive="active">Checkbox</a>
    <a routerLink="/radio" routerLinkActive="active">Radio</a>
    <a routerLink="/autocomplete" routerLinkActive="active">Autocomplete</a>
    <a routerLink="/dialog" routerLinkActive="active">Dialog</a>
    <a routerLink="/toast" routerLinkActive="active">Toast</a>
  </div>
</div>

<div class="body">
  <div class="header">
        <span class="menu" (click)="opened = true;">
        </span>
    <span>{{titleService.title}}</span>
  </div>
  <div class="overlay" (click)="opened = false;" *ngIf="opened"></div>
  <div class="mainContent">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

