.padTop {
  margin-top: 15px;
}

vx-input {
  width: 300px;
}

.small {
  width: 100px;
}

section {
  padding-top: 30px;
  padding-left: 30px;

  h2 {
    margin-left: -20px;
  }
}

[vx-button] {
  font-size: 13px;
}
