@import 'app/vars';

@import "../lib/themes/all-components";

@include vx-load-themes($colors);

pre {
  margin: 0;
}

body {
  background: map-get($colors, background);
  color: map-get($colors, foreground);
  font-family: sans-serif;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

h4 {
  margin-top: 15px;
  margin-bottom: 8px;
}
