/* You can add global styles to this file, and also import other style files */
@import "../lib/themes/all-components";

$colors: (
  primary: #3fa0bd,
  background: #fCfCfC,
  error: #bf0000,
  foreground: black,
  accent: #FFCA4F
);

@include vx-load-themes($colors);

pre {
  margin: 0;
}

body {
  background: map-get($colors, background);
  color: map-get($colors, foreground);
  font-family: sans-serif;
}
