@import "../lib/theming";

$colors: ();

$colors: vx-prepare-colors($colors);
@include vx-load-themes($colors);

$primary: map_get($colors, primary);
$background: map_get($colors, background);
$foreground: map_get($colors, foreground);
$error: map_get($colors, error);
$success: map_get($colors, success);
$warn: map_get($colors, warn);
$accent: map_get($colors, accent);
$darkerBgFg: map_get($colors, darkerBgFg);
$lighterBgFg: map_get($colors, lighterBgFg);
$borderLight: map_get($colors, borderLight);
$borderDark: map_get($colors, borderDark);

pre {
  margin: 0;
}

body {
  background: $background;
  color: $foreground;
  font-family: sans-serif;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

h4 {
  margin-top: 15px;
  margin-bottom: 8px;
}
.padTop {
  padding-top: 10px;
}

vx-tab > p:first-child {
  margin-top: 0;
}

.sidebar {
  background: mix($lighterBgFg, $darkerBgFg, 30%);

  .links a {
    border-top: 1px solid mix($background, $foreground, 75%);
    color: white;
  }
}

.page-header {
  background: $primary;
  color: $background;
  box-shadow: 0 0 10px 1px transparentize($foreground, .5);
  &.inner {
    border-right: 2px solid mix($foreground, $primary, 35%);
  }
}

@media screen and (max-width: 475px) {
  .page-menu, .page-menu:before, .page-menu:after {
    background: $background;
  }
}
