@import "./themes/defaults";
@import "./themes/form-field";
@import "./themes/radio";
@import "./themes/menu";
@import "./themes/autocomplete";
@import "./themes/button";
@import "./themes/tabs";
@import "./themes/checkbox";
@import "./themes/stepper";
@import "./themes/dialog";
@import "./themes/spinner";
@import "./themes/slider";

@mixin vx-all-components($colors: ()) {
  $colors: vx-prepare-colors($colors);

  @include vx-form-field-theme($colors);
  @include vx-radio-theme($colors);
  @include vx-menu-theme($colors);
  @include vx-autocomplete-theme($colors);
  @include vx-button-theme($colors);
  @include vx-tabs-theme($colors);
  @include vx-checkbox-theme($colors);
  @include vx-stepper-theme($colors);
  @include vx-dialog-theme($colors);
  @include vx-spinner-theme($colors);
  @include vx-slider-theme($colors);
}

.vx-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.vx-overlay-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vx-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-tap-highlight-color: transparent;
}

.vx-overlay-container {
  position: fixed;
  overflow: visible;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
