// Use this mixin to apply colored themes to the dropdown
@mixin vx-button-theme($colors) {
  $colors: vx-prepare-colors($colors);
  $background: map_get($colors, background);
  $foreground: map_get($colors, foreground);
  $darkerBgFg: map_get($colors, darkerBgFg);
  $lighterBgFg: map_get($colors, lighterBgFg);
  $borderLight: map_get($colors, borderLight);
  $borderDark: map_get($colors, borderDark);
  $primary: map_get($colors, primary);
  $error: map_get($colors, error);
  $accent: map_get($colors, accent);
  $success: map_get($colors, success);
  $warn: map_get($colors, warn);

  $lightColor: mix($darkerBgFg, $lighterBgFg, 11%);
  $lightColorFocus: mix($darkerBgFg, $lighterBgFg, 13%);
  $lightColorHover: mix($darkerBgFg, $lighterBgFg, 16%);
  $lightColorActive: mix($darkerBgFg, $lighterBgFg, 28%);

  $darkColor: mix($lighterBgFg, $darkerBgFg, 18%);
  $darkColorFocus: mix($lighterBgFg, $darkerBgFg, 25%);
  $darkColorHover: mix($lighterBgFg, $darkerBgFg, 28%);
  $darkColorActive: mix($lighterBgFg, $darkerBgFg, 40%);

  $primaryColor: $primary;
  $primaryColorFocus: mix($darkerBgFg, $primary, 8%);
  $primaryColorHover: mix($darkerBgFg, $primary, 12%);
  $primaryColorActive: mix($darkerBgFg, $primary, 16%);

  $accentColor: $accent;
  $accentColorFocus: mix($darkerBgFg, $accent, 8%);
  $accentColorHover: mix($darkerBgFg, $accent, 12%);
  $accentColorActive: mix($darkerBgFg, $accent, 16%);

  $errorColor: $error;
  $errorColorFocus: mix($darkerBgFg, $error, 8%);
  $errorColorHover: mix($darkerBgFg, $error, 12%);
  $errorColorActive: mix($darkerBgFg, $error, 16%);

  $successColor: $success;
  $successColorFocus: mix($darkerBgFg, $success, 8%);
  $successColorHover: mix($darkerBgFg, $success, 12%);
  $successColorActive: mix($darkerBgFg, $success, 16%);

  $warnColor: $warn;
  $warnColorFocus: mix($darkerBgFg, $warn, 8%);
  $warnColorHover: mix($darkerBgFg, $warn, 12%);
  $warnColorActive: mix($darkerBgFg, $warn, 16%);

  .vx-button-flat, .vx-button-raised {
    &.vx-button-light {
      background: $lightColor;
      color: $darkerBgFg;


      &:focus {
       background: $lightColorFocus;
      }
      &:hover {
        background: $lightColorHover;
      }
      &:active {
        background: $lightColorActive;
      }
      &.vx-button-group-selected-button {
        background: $lightColorActive;
      }
    }

    &.vx-button-dark {
      background: $darkColor;
      color: $lighterBgFg;

      &:focus {
       background: $darkColorFocus;
      }
      &:hover {
        background: $darkColorHover;
      }
      &:active {
        background: $darkColorActive;
      }
      &.vx-button-group-selected-button {
        background: $darkColorActive;
      }
    }

    &.vx-button-primary {
      background: $primaryColor;
      color: $lighterBgFg;

      &:focus {
       background: $primaryColorFocus;
      }
      &:hover {
        background: $primaryColorHover;
      }
      &:active {
        background: $primaryColorActive;
      }
      &.vx-button-group-selected-button {
        background: $primaryColorActive;
      }
    }

    &.vx-button-accent {
      background: $accentColor;
      color: $lighterBgFg;

      &:focus {
       background: $accentColorFocus;
      }
      &:hover {
        background: $accentColorHover;
      }
      &:active {
        background: $accentColorActive;
      }
      &.vx-button-group-selected-button {
        background: $accentColorActive;
      }
    }

    &.vx-button-error {
      background: $errorColor;
      color: $lighterBgFg;

      &:focus {
       background: $errorColorFocus;
      }
      &:hover {
        background: $errorColorHover;
      }
      &:active {
        background: $errorColorActive;
      }
      &.vx-button-group-selected-button {
        background: $errorColorActive;
      }
    }

    &.vx-button-success {
      background: $successColor;
      color: $lighterBgFg;

      &:focus {
       background: $successColorFocus;
      }
      &:hover {
        background: $successColorHover;
      }
      &:active {
        background: $successColorActive;
      }
      &.vx-button-group-selected-button {
        background: $successColorActive;
      }
    }

    &.vx-button-warn {
      background: $warnColor;
      color: $lighterBgFg;

      &:focus {
       background: $warnColorFocus;
      }
      &:hover {
        background: $warnColorHover;
      }
      &:active {
        background: $warnColorActive;
      }
      &.vx-button-group-selected-button {
        background: $warnColorActive;
      }
    }
  }

  .vx-button-stroked {
    background: transparent;

    &:focus {
      background: rgba($foreground, .03);
    }
    &:hover {
      background: rgba($foreground, .09);
    }
    &:active {
      background: rgba($foreground, .14);
    }
    &.vx-button-group-selected-button {
      background: rgba($foreground, .14);
    }

    &.vx-button-light {
      border-color: $borderLight;
      color: $foreground;
    }

    &.vx-button-dark {
      border-color: $darkColor;
      color: $foreground;
    }

    &.vx-button-primary {
      border-color: $primaryColor;
      color: $primaryColor;
    }

    &.vx-button-accent {
      border-color: $accent;
      color: $accent;
    }

    &.vx-button-error {
      border-color: $error;
      color: $error;
    }

    &.vx-button-success {
      border-color: $success;
      color: $success;
    }

    &.vx-button-warn {
      border-color: $warn;
      color: $warn;
    }

  }

  .vx-button-raised {
    box-shadow: 0 3px 1px -2px rgba($darkerBgFg, .2), 0 2px 2px 0 rgba($darkerBgFg, .14), 0 1px 5px 0 rgba($darkerBgFg, .12)
  }

  a.vx-button {
    text-decoration: none;
  }

}
