// Use this mixin to apply colored themes to the dropdown
@mixin vx-form-field-theme($colors) {
  $colors: vx-prepare-colors($colors);
  $background: map_get($colors, background);
  $foreground: map_get($colors, foreground);
  $primary: map_get($colors, primary);
  $error: map_get($colors, error);
  $accent: map_get($colors, accent);
  $border: map_get($colors, borderLight);

  $darkerBgFg: map-get($colors, darkerBgFg);
  $lighterBgFg: map-get($colors, lighterBgFg);

  $placeholder: mix($darkerBgFg, $lighterBgFg, 30%);
  $darkerPlaceholder: mix($darkerBgFg, $lighterBgFg, 50%);
  $labelColor: map_get($colors, borderLight);

  // Initial Colors
  .vx-form-field-container {
    border: 1px solid $border;
  }

  .vx-form-field-label, .vx-form-field-required-label {
    color: $labelColor;
  }

  .vx-form-field-input {
    color: $foreground;

    &::placeholder {
      color: $placeholder;
    }
  }

  // Focused Colors
  .vx-form-field.vx-focused {
    .vx-form-field-container {
      border-color: $primary;
    }

    .vx-form-field-label {
      color: $primary;
    }
    .vx-form-field-required-label {
      color: $accent;
    }

    .vx-form-field-input::placeholder {
      color: $darkerPlaceholder;
    }
  }

  // Error Colors
  .vx-form-field.vx-error {
    .vx-form-field-container {
      border-color: $error;
    }

    .vx-form-field-label {
      color: $error;
    }

    .vx-form-field-required-label {
      color: mix($accent, $error);
    }

    .vx-form-field-input::placeholder {
      color: mix($error, $placeholder, 20%);
    }
  }

  // Error and Focused Colors
  .vx-form-field.vx-error.vx-focused {
    .vx-form-field-input::placeholder {
      color: mix($error, $darkerPlaceholder, 30%);
    }
  }

}
