<ScrollView>
  <StackLayout>
    <!--<StackLayout height="500"></StackLayout>-->
    <StackLayout vx-ns-autocomplete label="Choose a Country!" #autocomplete multiple>
      <!--<StackLayout vx-ns-item text="United States" value="us"></StackLayout>-->
      <!--<StackLayout vx-ns-item text="Korea" value="k"></StackLayout>-->
      <!--<StackLayout vx-ns-item text="Afghan" value="a"></StackLayout>-->
      <StackLayout vx-ns-item *ngFor="let country of states" [text]="country.name" [value]="country.value"></StackLayout>
    </StackLayout>
    <Label [text]="autocomplete.value | json" style="white-space: normal"></Label>
    <StackLayout height="500"></StackLayout>
  </StackLayout>
</ScrollView>
